body{
    margin: 50px 200px 0px 200px;
    font-family : 'Open Sans';
}
h1{
    display: flex;
    justify-content: center;
}
.destaque{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: chocolate;
}
.texto1{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
ul{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
main{
    text-align: justify;
    color: #333333;
}
section{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    border-left: 3px solid #A6130A;
    padding-left: 10px;
}
